.expiredLinkContent {
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: absolute;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.bi-exclamation-triangle {
    margin-bottom: 16px; 
}