.updateProfileMessage, .updateProfileError {
    margin-left: 400px;
    position: absolute;
    top: 15%;
    text-align: center;
    width: 600px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.updateProfileMessage {
    background-color: #65c25e;
    padding: 0px 10px;
    border-radius: 5px;
}

.updateProfileError {
    color: crimson;
    font-style: italic;
}

.editProfileContainer {
    margin-left: 400px;
    position: absolute;
    top: 20%;
    width: 600px;
    height: 240px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px;
}

.profileUsername, .profileEmail {
    margin: 20px auto;
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.profileUsername label {
    margin-right: 20px;
}

.profileEmail label {
    margin-right: 48px;
}

.profileUsername input, .profileEmail input {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.profileUsername input, .profileEmail input {
    width: 450px;
}

.profileUsername input:focus, .profileEmail input:focus{
    border: 2px solid #132A63;
    outline: #132A63;
}

.updateProfileButton {
    position: absolute;
    left: 35%;
}
