.pageContainer {
    padding: 30px 0px 10px;
    width: 1180px;
    margin: 0px 0px 0px 30px;
}

.topContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: 0px auto;
}

.productSlider {
    margin: 0px 0px 0px 70px;
}

