.productCategories {
    width: 160px;
    background-color: #fcfcfc;
    height: 50.5vh;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
}

.productCategories p:hover {
    background-color: rgb(193, 187, 187);
    border-radius: 5px;
}

.productCategories a {
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
} 