.updatePasswordMessage, .updatePasswordError {
    margin-left: 400px;
    position: absolute;
    top: 15%;
    text-align: center;
    width: 600px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.updatePasswordMessage {
    background-color: #65c25e;
    padding: 0px 10px;
    border-radius: 5px;
}

.updatePasswordError {
    color: crimson;
    font-style: italic;
}

.changePasswordContainer {
    margin-left: 400px;
    position: absolute;
    top: 20%;
    width: 600px;
    height: 300px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 20px;
}

.currentpassword, .newpassword, .confrimnewpassword {
    margin: 20px auto;
}

.currentpassword label, .newpassword label, .confrimnewpassword label {
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.currentpassword label {
    margin-right: 20px;
}

.newpassword label {
    margin-right: 40px;
}

.confrimnewpassword label {
    margin-right: 20px;
}

.currentpassword input, .newpassword input, .confrimnewpassword input {
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.currentpassword input, .newpassword input {
    width: 385px;
}

.confrimnewpassword input {
    width: 340px;
}

.currentpassword input:focus, .newpassword input:focus, .confrimnewpassword input:focus {
    border: 2px solid #132A63;
    outline: #132A63;
}


.changePasswordButton {
    position: absolute;
    bottom: 12%;
    left: 35%;
}

.currentpasswordToggle, .newpasswordToggle, .confirmpasswordToggle { 
    position: absolute;
    right: 8%;
    cursor: pointer;
    color: #333333;
    font-size: 16px;
}

.currentpasswordToggle { 
    top: 16%;
}
.newpasswordToggle { 
    top: 35%;
}
.confirmpasswordToggle { 
    top: 55%;
}

