@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
}

main {
    overflow-y: auto;
}


body::-webkit-scrollbar, .cart::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track, .cart::-webkit-scrollbar {
    background: #f6f3f3;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb, .cart::-webkit-scrollbar {
    background: #393737;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover, .cart::-webkit-scrollbar {
    background: #555;
}

.loader {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: #132A63;
    font-family: 'Jost', sans-serif; 
    font-size: 34px;
}

textarea {
    resize:none
}