.loginHeader {
    width: 500px;
    margin: 40px auto 20px;
}

.loginHeader h2 {
    color: #132A63;
    font-family: 'Jost', sans-serif; 
    font-size: 34px;
}

.loginError, .loginMessage {
    text-align: center;
    width: 500px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 27%;
    left: 31.5%;
}

.loginError {
    color: #ef6f65;
    font-style: italic;
    font-weight: bold;
}

.loginMessage {
    background-color: #65c25e;
    padding: 0px 10px;
    border-radius: 5px;
    color: #FFFFFF;
}

.loginForm {
    width: 500px;
    margin: 0px auto;
    position: relative;
}

.loginForm .goToSignUp {
    text-align: center;
}

.loginForm .goToSignUp a {
    text-decoration: none;
}

.loginForm input { 
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.loginForm .input:focus {
    border: 2px solid #132A63;
    outline: none;
}

.loginForm .error:focus {
    border: 2px solid #ef6f65;
    outline: none;
}

.loginForm .passwordToggle {
    color: #333333;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    right: 2%;
    bottom: 50%;
}


