.detailsContainer {
    padding: 30px 100px 10px;
    margin: 40px 0px 80px;
}

.loadingdetails {
    text-align: center;
}

.wrapperDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.wrapperDetails .likesIcon, .wrapperDetails .unlikesIcon {
    position: absolute;
    top: 3%;
    left: 1%;
    font-size: 24px;
    cursor: pointer;
}

.wrapperDetails .likesIcon {
    color: crimson;
}

.wrapperDetails .unlikesIcon {
    color: #FFFFFF;
}

.centerImage img {
    height: 400px;
    width: 450px;
    border-radius: 10px;
    cursor: pointer;
}

.info {
    width: 500px;
}

.info h3, .loadingdetails {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
}

.info .pricey {
    font-size: 24px;
    font-weight: 600;
}

.info p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.addProd {
    margin: 10px 0px 20px -10px;
}

.qtyCount {
    margin-left: 10px;
    width: 100px
}

.share {
    border-top: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
}

.share p {
    margin-top: 15px;
    text-align: center;
    box-sizing: border-box;
}

.share .icons {
    border-radius: 50px;
    scale: 0.6;
}

.share .icons:hover {
    transform: scale(1.20);
}

.sellerInfo, .special {
    color: crimson;
}

.descriptionReview {
    border-top: 1px solid #DDDDDD;
    margin-top: 80px;
    padding: 20px 80px;
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0px 20px;
    padding-bottom: 3px;
}

.links a.active {
    border-bottom: 2px solid #132A63;
}

.links .numberOfReviews {
    color: crimson;
}

.descriptionReview .description {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 40px 0px;
}

.descriptionReview .review {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 40px 0px;
}

.descriptionReview .review .userReview {
    border:  1px solid #DDDDDD;
    margin-bottom: 10px;
    background-color: #DDDDDD;
    padding: 10px 20px;
    border-radius: 5px;
}

.descriptionReview .review .userReview p:first-child {
    font-weight: 600;
}

.descriptionReview .review .userReview p {
    margin: 0px 0px;
}

.descriptionReview .emptyReview {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 40px 0px;
    text-align: center;
}
