.orderModalBackground {
    background-color: rgb(16, 15, 15, 0.6);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}

.orderModalContainer {
    background-color: white;
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 1000;
    top: 15.5%;
    left: 30%;
    border-radius: 10px;
    text-align: center;
}

.orderModalContent {
    text-align: center;
    padding: 10px;
}

.orderProductsInfo {
    width: 500px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    height: 290px;
    overflow-y: scroll;
    margin: 15px auto;
    padding: 20px 10px;
    position: relative;
}

.orderProductsSeller {
    float: left;
    margin-left: 10px;
}

.orderProductsSeller span {
    color: crimson;
}

.orderProductsWrapper {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.orderProductsqty {
    display: flex;
    flex-direction: row;
    float: right;
}

.orderProductsInfo::-webkit-scrollbar {
    width: 5px;
}

.orderProductsInfo::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.orderProductsInfo::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.orderProductsInfo::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.clearModal {
    border: none;
    outline: none;
    background-color:  #132A63;
    color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    bottom: 3%;
    left: 45%;
    padding: 5px 15px;
}