.formHeader {
    width: 500px;
    margin: 20px auto;
}
.formHeader h2 {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 34px;
}

.signupError, .signupMessage {
    text-align: center;
    width: 500px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 28%;
    left: 32%;
}

.signupError {
    color: #ef6f65;
    font-style: italic;
    font-weight: bold;
}

.signupMessage {
    background-color: #65c25e;
    padding: 0px 10px;
    border-radius: 5px;
    color: #FFFFFF;
}

.formHeader p, .registerForm .goToLogin {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.registerForm .goToLogin {
    text-align: center;
    margin-top: 10px;
}

.registerForm .goToLogin a {
    text-decoration: none;
}

.registerForm {
    width: 500px;
    margin: 0px auto;
    position: relative;
}

.registerForm .userSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userSelect .buyer, .userSelect .seller {
    border: 1px solid #DDDDDD;
    padding: 10px 45px;
    margin: 5px auto;
    border-radius: 5px;
    
}

.userSelect .buyer label, .userSelect .seller label {
    color: #132A63;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

:root {
    --form-control-color: #333333;;
}

.userSelect input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
    margin: 0px 10px;
    font: inherit;
    color: currentColor;;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

.userSelect input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

.userSelect input[type="radio"]:checked::before {
    transform: scale(1);
}

.registerForm input[type="text"],
.registerForm input[type="password"],
.registerForm input[type="email"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.registerForm .button {
    text-align: center;
}

.registerForm input:focus {
    border: 2px solid #132A63;
    outline: #132A63;
}

.registerForm .formErr {
    border: 2px solid #ef6f65;
}

.registerForm .passwordToggle {
    color: #333333;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    right: 2%;
    bottom: 31%;
}