.navigation {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0px 0px;
    padding: 30px 70px 10px;
    border-bottom: 1px solid #E9EBF0;
    position: relative;
}

.navigation .logo a {
    text-decoration: none;
}

.navigation .logo a h1 {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    cursor: pointer;
}

.navigation .logo .colored {
    color: crimson;
}

.search {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: absolute;
    top: 35%;
    left: 25%;
    width: 650px;
}

.searchIcon {
    position: absolute;
    font-size: 18px;
    color: #333333;
    left: 2%;
    top: 30%;
}

.search .searchproduct {
    width: 500px;
    height: 40px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.search .searchproduct::placeholder,
.search .categoryInput::placeholder {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.search .searchproduct:focus,
.search .categoryInput:focus {
    border: 1px solid #DDDDDD;
    outline: none;
}

.userProfile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.userProfile .account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #DDDDDD;
    padding: 10px 10px;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    right: 10%; 
}

.userProfile .account:hover {
    opacity: 0.9; 
}

.userProfile .account .userIcon {
    font-size: 24px;
    color: #333333;
    margin-right: 10px;
}

.userProfile .cartCounter {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    position: absolute;
    right: 5%;
}

.userProfile .cartCounter:hover {
    opacity: 0.8;
}

.userProfile .cart {
    font-size: 32px;
    color: #333333;
    margin-left: 25px;
    cursor: pointer;
}

.userProfile .counter {
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    color: #333333;
    margin-left: 5px;
    cursor: pointer;
}
