.loginPage {
    width: 500px;
    margin: 40px auto 20px;
}

.required {
    color: #ef6f65;
}

.loginPage > p {
    color: #132A63;
    font-family: 'Jost', sans-serif; 
    font-size: 34px;
}

form input {
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    outline: 1px solid #DDDDDD;
}

form input:focus {
    outline: 2px solid #132A63;
}

form input.invalid {
    outline: 2px solid crimson;
} 

form div:nth-child(1),
form div:nth-child(2) {
    position: relative;
}

form .username {
    font-size: 14px;
    position: absolute;
    bottom: -18%;
}

form .password {
    font-size: 14px;
    position: absolute;
    bottom: -60%;
}

form .passwordToggle {
    color: #333333;
    font-size: 18px;
    position: absolute;
    cursor: pointer;
    bottom: 47%;
    right: 32%;
    transform: translate(-50%, -50%);
}

form div.button, 
.linkToSignUpOrForgotPassword {
    text-align: center;
}

.linkToSignUpOrForgotPassword > p, 
.linkToSignUpOrForgotPassword a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.linkToSignUpOrForgotPassword a {
    text-decoration: none;
}