.favouritesContainer {
    padding: 0px 70px 0px;
    margin-top: 30px;
}

.wishlist {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
}

.loadingMessage {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 24px;
    text-align: center;
}

.emptyFavourites {
    text-align: center;
    color: #333333;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin: 60px auto;
}

.favouriteswrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    margin: 20px 80px;
}
