.shop {
    position: relative;
}

.shopLinks {
    width: 200px;
    background-color: #fcfcfc;
    height: 100vh;
    border-radius: 5px;
    padding: 20px 0px;
}

.shopLinks a {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.shopLinks p:hover {
    background-color: rgb(193, 187, 187);
    border-radius: 5px;
}

.productDeletedMessage {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: crimson;
}

p.shopLoader {
    margin-left: 350px;
    position: absolute;
    top: 10%;
    text-align: center;
    width: 600px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color:#132A63
}

.productsTableList {
    margin-left: 250px;
    position: absolute;
    top: 3%;
    width: 950px;
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

tr.activeShelve:hover {
    background-color: #DDDDDD;
    cursor: pointer;
}

th {
    border-bottom: 1px solid #DDDDDD;
}

td.id {
    padding: 10px 0px;
    width: 280px;
}

td.title {
    width: 300px;
    padding: 10px 0px;
}

td.price, td.category, td.stockQty,
th.price, th.category, th.stockQty{
    text-align: center;
    padding: 10px 0px;
    width: 80px;
}

td.emptyShelve {
    text-align: center;
    font-size: 16px;
    padding: 20px 0px;
}

td .deleteIcon {
    color: crimson;
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

td.editProduct a {
    text-decoration: none;
}

td .icon {
    margin-left: 5px;
    font-size: 18px;
    margin-left: 5px;
    cursor: pointer;
    color:#151212
}

td .deleteIcon:hover, td .icon:hover {
    transform: scale(1.3);
}
