.unauthorized {
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.unauthorized p a {
    text-decoration: none;
}