.forgotPasswordPage {
    width: 500px;
    margin: 60px auto 20px;
}

.required {
    color: #ef6f65;
}

.forgotPasswordPage > p {
    color: #132A63;
    font-family: 'Jost', sans-serif; 
    font-size: 34px;
}

form input {
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    outline: 1px solid #DDDDDD;
}

form input:focus {
    outline: 2px solid #132A63;
}

form input.invalid {
    outline: 2px solid crimson;
} 

form div:nth-child(1) {
    position: relative;
}

form .emptyEmail {
    font-size: 14px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    bottom: -20%;
}

.forgotPasswordError, .forgotPasswordMessage {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgotPasswordError {
    color: #ef6f65;
}

.forgotPasswordMessage {
    color: #65c25e;
}