.profileLinks {
    width: 200px;
    background-color: #fcfcfc;
    height: 100vh;
    border-radius: 5px;
    padding: 20px 0px;
}

.profileLinks p {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 2px;
}

.profileLinks a {
    text-decoration: none;
    color: #333333;
    position: relative;
    padding-bottom: 4px;
}

.profileLinks a::after {
    content: '';
    position: absolute;
    width: 0; /* Start with zero width */
    height: 3px; /* Line height */
    background-color: #132A63;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in; /* Apply transition to border-bottom */
}

.profileLinks a:hover::after {
    width: 100%;
    background-color: #132A63;
}

.infohead {
    margin-left: 400px;
    position: absolute;
    top: 20%;
}

.accountInfo {
    margin-left: 400px;
    position: absolute;
    top: 28%;
    width: 600px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px 20px;
}

p.profileLoader {
    margin-left: 400px;
    position: absolute;
    top: 28%;
    text-align: center;
    width: 600px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color:#132A63
}