.hotProduct {
    margin: 20px auto;
    position: relative;
    cursor: pointer;
    width: 240px;
    text-align: center;
    height: 280px;
}

.hotProduct:hover {
    transform: scale(1.04);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.hotProduct img {
    width: 240px;
    height: 180px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.hotProduct h3 {
    color: #152C5B;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    margin: 10px auto;
    width: 200px;
}

.hotProduct p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #667085;
    font-weight: 400;
}

.hotProduct .currency {
    color: #333333;
    font-weight: 600;
    margin: 10px auto;
}

.hotProduct .special {
    background-color: #16B364;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding: 3px 10px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}