input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.verifyEmailContainer {
    width: 500px;
    margin: 80px auto 40px;
    text-align: center;
}

.verifyEmailHeader h2 {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 34px;
}

.verifyEmailHeader > p {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.verifyEmailCode input {
    width: 50px;
    height: 50px;
    margin: 20px 10px;
    border-radius: 10px;
    border: none;
    outline: 1px solid #DDDDDD;
    text-align: center;
    padding: 10px 10px;
    font-size: 32px;
    position: relative;
}

.verifyEmailCode input.invalid {
    outline: 2px solid crimson;
}

.verifyEmailCode p {
    color: crimson;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.verifyEmailCode input::placeholder {
    position: absolute;
    font-size: 24px;
    bottom: -3%;
    left: 40%;
}

.verifyEmailCode input:focus{
    outline: 2px solid #132A63;
}

.verifyEmailContainer div.button {
    margin: 15px auto;
}
