.footer {
    background-color: #EFF4FF;
    height: 600px;
}

.footerTop, 
.footerBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerBottom{
    margin: 40px 80px;
}

.footerTop {
    align-items: center;
    padding-top: 80px;
    margin: 0px 80px;
}

.footerTop .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
}

.footerTop .logo h1 {
    color: #132A63;
    font-family: 'Jost', sans-serif;
    font-size: 28px;
    cursor: pointer;
}

.footerTop .logo .colored {
    color: crimson;
}

.footerTop .logo p {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.footerLinksContainer {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    margin: 0px 60px 0px 0px;
}

.footerLinks h4,
.updates h4 {
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.footerLinks h4 {
    color: #1C3F94;
    cursor: pointer;
}

.footerLinks p a {
    cursor: pointer;
    text-decoration: none;
}

.footerLinks p a,
.footerLinks address,
.updates p,
.footerBottom p {
    color: #333333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.footerBottom {
    align-items: end;
    padding-bottom: 80px;
}

.updates h4 {
    color: #333333;
}

.emailAlerts form input[type="text"] {
    width: 400px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.emailAlerts form input[type="text"]::placeholder {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

p.emailErr {
    position: absolute;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: crimson;
}

p.emailSuccess {
    position: absolute;
    background-color: rgb(92, 190, 92);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
    width: 100vw;
}

.emailAlerts form input[type="text"]:focus {
    border: 2px solid #1C3F94;
    outline: none;
}

.socialMedia p {
    color: #1C3F94;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.icons a {
    text-decoration: none;
}

.footerIcons {
    background-color: #FFFFFF;
    margin-right: 20px;
    font-size: 42px;
    color: #1C3F94;
    padding: 10px;
    border-radius: 5px;
}
