.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E9EBF0;
    margin-bottom: 20px;
    position: relative
}

.search {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}

.searchResult {
    z-index: 999;
    position: absolute;
    width: 600px;
    top: 85%;
    left: 25%;
    background-color: #fcfcfc;
    border-radius: 5px;
}

.searchResult a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    display: block;
    padding: 5px 40px;
}

.searchResult a:first-child:hover {
    background-color: #ece7e7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.searchResult a:last-child:hover {
    background-color: #ece7e7;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchResult a:hover {
    background-color: #ece7e7;
}

.searchForm {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.searchIcon, .clearIcon {
    position: absolute;
    font-size: 18px;
    color: #333333;
    top: 50%;
    cursor: pointer;
}

.searchIcon {
    left: 6%;
}

.clearIcon {
    right: 6%;
}

.search .searchproduct {
    width: 600px;
    height: 40px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.search .searchproduct::placeholder,
.search .categoryInput::placeholder {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.search .searchproduct:focus,
.search .categoryInput:focus {
    outline: 1px solid #DDDDDD;
}

.userProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 0px 0px;
}

.userProfile .account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: #DDDDDD;
    padding: 10px 10px;
    border-radius: 5px;
    height: 40px;
    opacity: 0.9; 
}

.userProfile .account:hover {
    opacity: 1; 
}

.userProfile .account .userIcon {
    font-size: 24px;
    color: #333333;
    margin-right: 10px;
}

.userProfile .cartCounter {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    opacity: 0.8;
}

.userProfile .cartCounter:hover {
    opacity: 1;
}

.userProfile .cart {
    font-size: 34px;
    color: #333333;
    margin-left: 35px;
    cursor: pointer;
}

.userProfile.seller {
    margin-right: 70px
}

.userProfile .counter {
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
    cursor: pointer; 
    position: absolute;
    right: 3%;
    top: 16%;
    background-color: crimson;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    padding: 4px 8px ;
}

