.productUpdate {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:  rgb(142, 233, 142);;
}